/*PAGE STRUCTURE*/

html {
  height: 100%;
}

body { 
  height: 100%;
  background-color: black;
  background-image: url(subtle_carbon.png);
  overflow-x: hidden;
}



.outer_container {
	background-color: #444;
	position: relative;
	min-height: 100%;
	width: 1280px;
	margin: auto;
	overflow: auto;
	box-shadow: 0px 0px 0px 2px #555 inset;
}

.left_column {
	background-color: transparent;
	min-height: 100vh;
	width: 720px;
	margin-left: 20px;
	float: left;
}

.right_column {
	background-color: transparent;
	min-height: 100vh;
	width: 500px;
	margin-left: 20px;
	float: left;
}

/*WIDGET BOXES*/

.widget_general {
	background-color: #000;
	background-image: url(Untitled-1.png);
	box-shadow: 2px 2px 50px 8px #000 inset, 0px 0px 1px 2px #555;
	margin-top: 20px;
	position: relative;
	box-shadow: 
}

.widgetbox_profile {
	height: 130px;
	width: 100%;
}

.widgetbox_vidplayer {
	height: 400px;
	width: 100%;
}
.widgetbox_chat {
	height: 325px;
	width: 100%;
}
.widgetbox_map {
	height: 280px;
	width: 100%;
}
.widgetbox_tabbedwindow {
	height: 370px;
	width: 100%;
}

/*SCREEN BREAKPOINTS*/

/*Enable to break to screen responsive layout*/
@media only screen 
and (max-width : 1280px) {
	
	.outer_container {
		width: 100vw;
		padding-bottom: 1.667vw
	}

	.left_column {
		width: 56vw;
		margin-left: 1.667vw;
	}

	.right_column {
		min-height: 100vh;
		width: 39vw;
		margin-left: 1.667vw;
		float: left;
	}

	.widget_margins {
		margin-top: 1.667vw;
	}

}

/*Enable to maintain widget aspect ratio in double column layout */
@media only screen 
and (max-width : 1280px) {

	.widgetbox_profile {
		height: 10.11vw;
	}

	.widgetbox_vidplayer {
		height: 31.5vw;
	}

	.widgetbox_chat {
		height: 27.22vw;
	}

	.widgetbox_map {
		height: 21.84vw;
	}

	.widgetbox_tabbedwindow {
		height: 28.86vw;
	}
	
}

/*Enable to break to to single column layout*/
@media only screen 
and (max-width : 700px) {
	
	.left_column {
		width: 95vw;
		min-height: 0;
		clear: both;
	
	}

	.right_column {
		width: 95vw;
		min-height: 0;
		clear: both;
	}

}

/*Enable to maintain aspect ratio in single column*/
@media only screen 
and (max-width : 700px) {

	.widgetbox_profile {
		height: 18.05vw;
	}

	.widgetbox_vidplayer {
		height: 56.25vw;
	}

	.widgetbox_chat {
		height: 48.60vw;
	}

	.widgetbox_map {
		height: 56.00vw;
	}

	.widgetbox_tabbedwindow {
		height: 74.00vw;
	}

}